{% extends "base.html" %}  {# This template inherits the layout and navigation from base.html #}

{% block content %}  {# Start of the content block that will be inserted into base.html #}
<h2>Sign Up</h2>
{% if error %}
<p style="color:red;">{{ error }}</p>  {# Display an error message if one exists (e.g., username taken) #}
{% endif %}
<form method="post">  {# Signup form that posts to the same route #}
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Sign Up">
</form>
<p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a></p>  {# Link to the login page #}
{% endblock %}  {# End of the content block #}