# Config file to make use Postgres installed properly
packages:
    yum:
        postgresql-devel: []  # Required for building and interfacing with PostgreSQL databases in Python
        gcc: []               # GNU Compiler Collection, needed for compiling Python packages with native extensions
        python3-devel: []     # Python 3 development headers, necessary for building Python C extensions